<a href="#page-top"
   class="fixed bottom-8 right-4 md:right-[calc((100vw-48rem)/2+2rem)] transition-transform duration-300 hover:scale-105">
  <button
    class="bg-cyan-700 text-white p-3 rounded-full shadow-lg hover:bg-cyan-800 transition-colors duration-300"
    aria-label="回到頂部">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="h-6 w-6"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
           aria-hidden="true">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
  </button>
</a>
